.custom-card img{
  height: 200px;
  width: 200px;
  /* padding: 11%; */
  /* margin-right: 2em; */
}
.custom-card {
  margin-right: 6em;
}

/* .carousel-control-next{
  color: black;
  border: 2ch;
} */

.carousel-item{
  width: 25%;
}
.carousel-indicators{
  background-color: black !important;
}
.carousel-control-next-icon{
  background-color: black;
}


