.custom-card img{
  height: 100px;
  width: 100px;
  /* padding: 11%; */
  /* margin-right: 2em; */
}
.custom-card {
  margin-right: 6em;
}

/* .carousel-control-next{
  color: black;
  border: 2ch;
} */


