.checkout-card {
  position: sticky;
  top: 0;
  margin-top: 3em;
  margin-left: 2.5em;
  width: 31vw;
  height: 75vh;
}

.trolly {
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
}
.item-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  font-size: 0.85em;
}
.item-row h6 {
  font-size: 1em;
  font-weight: 600;
}
.item-hr {
  width: 80%;
  margin: 0.2em auto;
}
